@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

body::-webkit-scrollbar {
  display: none;
  font-family: "PT Sans", sans-serif;
}

.h-x {
  height: 8px;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}

h3 {
  font-family: "Merriweather", serif;
}
